/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Index Page*/

* {
    box-sizing: border-box;
}

:root {
    --orange: hsl(42, 83%, 62%);
    --dark-orange: #ecb432;
    --blue: hsl(242, 89%, 17%);
    --light-blue: hsl(242, 83%, 57%);
    --blueish-white: hsl(242, 83%, 87%);
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

h1 {
    font-size: 56px;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--blue);
    text-shadow: 2px 0 2px var(--orange);
}

h2 {
    font-size: 40px;
    font-variant: small-caps;
    color: var(--blue);
    font-weight: 600;
    text-shadow: 1px 1px 1px var(--orange);
}

h3 {
    font-size: 24px;
    font-weight: 900;
    font-variant: small-caps;
    text-shadow: 1px 1px 1px var(--dark-orange);
    margin-bottom: 4px;
}

header {
    width: 100%;
    height: 94px;
    background-color: var(--orange);
    color: var(--blue);
    position: sticky;
    z-index: 3;
    top: 0;
    left: 0;
    padding: 0 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;  
    box-shadow: 0 4px 4px var(--blue);  
}

.logo {
    height: 80%;
}

.logo-img {
    height: 100%;
}

nav ul {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 32px;
}

button {
    padding: 8px;
    font-size: 18px;
    border-radius: 20px;
    font-weight: 800;
    text-transform: uppercase;
    background-color: var(--blue);
    color: var(--dark-orange);
    border: 6px double var(--orange);
    cursor: pointer;
    width: fit-content;
    text-shadow: 1px -1px 1px var(--white);
    transition: 500ms;
}

button:hover {
    background-color: var(--light-blue);
    color: var(--dark-orange);
}

.orange-button {
    background-color: var(--dark-orange);
    color: var(--blue);
    border: 6px double white;
}

.orange-button:hover {
    background-color: var(--orange);
    color: var(--light-blue);
}

nav button {
    width: 160px;
}

main {
    width: 100%;
}

#index-main {
    background: linear-gradient(45deg, var(--blue), var(--dark-orange), var(--orange));
}

.main-container {
    background-color: white;
    opacity: 0.5;
    transition: 1s ease-in;
}

.main-container:hover {
    opacity: 1;
}

.hero {
    height: 640px;
    position: relative;
}

.hero-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    overflow: hidden;
    position: absolute;
}

#hero-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

#hero-text button {
    font-size: 24px;
    padding: 6px 24px;
}


#hero-image {
    height: 80%;
    animation: blobify 10s linear infinite;
    transition: all 1s ease-in;
}

@keyframes blobify {
    from {
        border-radius: 60% 75% 50% 55% / 60% 75% 70% 65%; 
    }
    33% {
        border-radius: 15% 85% 30% 60% / 60% 30% 85% 15%;
    }
    66% {
        border-radius: 60% 30% 85% 15% / 15% 85% 30% 60%; 
    }
    to {
        border-radius: 60% 75% 50% 55% / 60% 75% 70% 65%;
    }
}

#section-one {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.golden-container {
    background: radial-gradient(var(--orange), var(--dark-orange));
    width: fit-content;
    animation: honeycomb-blobify 20s linear infinite;
    overflow: hidden;
}

#honeycomb-img {
    height: 500px;
    opacity: 0.5;
    transition: 500ms ease-in;
    cursor: pointer;
}

#honeycomb-img:hover {
    opacity: 1;
}

@keyframes honeycomb-blobify {
    from {
        border-radius: 40% 50% 70% 80% / 80% 70% 50% 40%;
    }
    40% {
        border-radius: 60% 48% 36% 24% / 24% 36% 48% 60%;
    }
    80% {
        border-radius: 24% 36% 48% 60% / 60% 48% 36% 24%;
    }
    to {
        border-radius: 40% 50% 70% 80% / 80% 70% 50% 40%;
    }
}

#sone-text {
    height: fit-content;
    width: 40%;
    padding: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color: var(--orange);
    color: var(--blue);
    border-radius: 12%;
    border: 16px double white;
    box-shadow: inset 0 0 16px 0 white;
}

main p {
    font-size: 24px;
    color: var(--blue);
    text-align: center;
}

.break {
    width: 100%;
    height: 6px;
    background-color: var(--blue);
    left: 0;
}

#whitebr {
    background-color: white;
}

footer {
    width: 100%;
    height: 33vh;
    padding: 16px 32px;
    background-color: var(--blue);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 48px;
}

#footer-logo {
    height: 70%;
    display: flex;
    align-items: center;
}

.footer-container {
    height: 100%;
    color: var(--orange);
    display: flex;
    flex-direction: column;
    gap: 16px;
}

footer a {
    margin-bottom: 8px;
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 16px;
}

footer p {
    font-size: 18px;
}


@media (max-width: 1024px){
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 24px;
    }
    button {
        font-size: 16px;
    }
    nav button {
        width: 140px;
    }
    .main-container {
        padding: 32px;
    }
    .hero-container {
        gap: 24px;
    }
    #section-one {
        margin: 32px 0 32px 0;
    }
    #sone-text {
        padding: 16px;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 32px;
    }
    h2 {
        font-size: 28px;
    }
    h3 {
        font-size: 20px;
        margin-bottom: none;
    }
    header {
        padding: 0 30px;
    }
    nav ul {
        gap: 12px;
    }
    .hero {
        height: 400px;
    }    
    #hero-text button {
        font-size: 16px;
        padding: 6px 12px;
    }
    #honeycomb-img {
        height: 240px;
    }
    #sone-text {
        width: 70%;
        font-size: 16px;
        margin-left: 16px;
    }
    #sone-text p {
        font-size: 20px;
    }
}

/*despre.html*/


.blob-text {
    height: 500px;
    width: 70%;
    margin-left: 64px;
    background-color: var(--orange);
    box-shadow: inset 0 0 36px 36px var(--dark-orange);
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
    animation: honeycomb-blobify 15s linear infinite;
    transition: all 1s ease-in;
    overflow: hidden;
}

/*produse.html*/

.main-title {
    text-align: center;
    margin-top: 32px;
}

#product-grid {
    width: 100%;
    display: grid;
    grid-template: 500px / repeat(3, 400px);
    grid-auto-rows: 500px;
    grid-auto-columns: repeat(3, 400px);
    justify-items: center;
    justify-content: center;
    margin: 16px 0;
}


.product-container {
    height: 100%;
    width: 100%;
/*    background-color: var(--orange);
    padding: 0 12px 0 12px;*/
    border-radius: 32px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 16px double white;
    box-shadow: inset 0 0 16px 0 white;
    position: relative;
}

.product-img-container {
    height: 70%;
    aspect-ratio: 1/1;
    border-radius: 0 0 8px 8px;
    overflow: hidden;
    box-shadow: inset 0 0 32px 0 var(--blue);
}

.product-img-container img {
    height: 100%;
    width: 100%;
}

/*.product-img-container:after {
    box-shadow: inset 0 0 8px 4px var(--dark-orange);
    content: "";
    display: block;
    height: 70%;
    aspect-ratio: 1/1;
    position: absolute;
    top: 0;
    border-radius: 0 0 8px 8px;
}*/

.button-container {
    position: absolute;
    top: 0;
    height: 70%;
    aspect-ratio: 1/1;
    background-color: var(--orange);
    z-index: 2;
    opacity: 0;
    transition: 700ms;
}

.button-container:hover {
    opacity: 0.8;
}

.button-container button {
    position: absolute;
    bottom: 5%;
    right: 5%;
    opacity: 1;
}

.product-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    text-align: center;
}

.product-content a {
    text-decoration: none;
}

.product-content h2 {
    font-size: 32px;
}

.product-content h3 {
    font-size: 20px;
    color: var(--blue);
}

.product-content button {
    margin-top: 18px;
    font-size: 16px;
}

/*Contact Page*/
#contact-hero {
    height: 80vh;
    background: linear-gradient(90deg, white, 33%, var(--orange));
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 48px;
    position: relative;
}

#contact-hero-text {
    width: 45%;
}

#contact-hero-text > * {
    margin-bottom: 8px;
}

#contact-hero-text h2 {
    font-size: 48px;
}

#contact-hero-text p {
    text-align: justify;
}

#contact-hero-text ul {
    font-size: 24px;
    color: var(--blue);
    font-weight: 600;
}

#imagine-magazin {
    height: 100%;
    position: absolute;
    left: 0;
    opacity: 0.6;
}

#contact-container {
    height: 80vh;
    padding: 48px;
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
}

#contact-map {
    height: 100%;
    aspect-ratio: 1/1;
    box-shadow: -2px -2px 6px 0 var(--orange);
}

#contact-info {
    height: 100%;
    aspect-ratio: 6/5;
    background-color: var(--blue);
    position: absolute;
    top: -80px;
    right: 60px;
    animation: blobify 15s linear infinite;
    box-shadow: 0 0 12px 0 var(--blueish-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact-info h1 {
    color: var(--dark-orange);
    margin-bottom: 32px;
    text-shadow: 1px 1px 1px var(--light-blue);
}

#contact-info h2, #contact-info p {
    color: var(--dark-orange);
}

.contact-link {
    display: grid;
    gap: 16px;
    text-decoration: none;
    grid-template-columns: 1fr 280px;
    margin-bottom: 16px;
    align-items: center;
}

.contact-link p {
    justify-self: left;
    text-align: left;
}

#social-media-container {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

/*Individual product pages*/

.honey-page-container {
    height: 70vh;
    padding: 50px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.honey-image {
    height: 65vh;
    aspect-ratio: 1/1;
    background-position: center center;
    background-size: cover;
    animation: honeycomb-blobify 10s ease-in-out 0s infinite alternate;
}

#mana {
    background-image: url("../Resources/miere-mana.jpeg");
}

#salcam {
    background-image: url("../Resources/miere-salcam.jpeg");
}

#floarea-soarelui {
    background-image: url("../Resources/miere-floarea-soarelui.jpeg");
}

#poliflora {
    background-image: url("../Resources/miere-poliflora.jpeg");
}

#rapita {
    background-image: url("../Resources/miere-de-rapita.jpeg");
}

#tei {
    background-image: url("../Resources/miere-de-tei.jpeg");
}

#duo {
    background-image: url("../Resources/miere-duo.jpeg");
}

#propolis {
    background-image: url("../Resources/tinctura-de-propolis.jpeg");
}

#fagure {
    background-image: url("../Resources/fagure-miere.jpeg");
}

#polen {
    background-image: url("../Resources/polen.jpeg");
}

.honey-details-container {
    height: 65vh;
    width: 50%;
    padding: 48px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: start;
    gap: 4px;
    color: var(--blue);
}

.honey-details-container h1 {
    margin-bottom: 16px;
}

.honey-buttons-container button {
    padding: 2px 8px;
}

#honey-blob {
    align-self: center;
}