@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Playfair+Display:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Index Page*/

* {
    box-sizing: border-box;
}

:root {
    --orange: hsl(42, 83%, 62%);
    --dark-orange: #ecb432;
    --blue: hsl(242, 89%, 10%);
    --light-blue: hsl(242, 83%, 57%);
    --blueish-white: hsl(242, 83%, 87%);
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

h1 {
    font-size: 56px;
    text-transform: uppercase;
    color: var(--blue);
    text-shadow: 2px 0 2px var(--orange);
    font-family: 'Lobster', cursive;
}

h2 {
    font-size: 40px;
    font-variant: small-caps;
    color: var(--blue);
    font-family: "Playfair Display", serif;
    font-weight: 800;
    text-shadow: 1px 1px 1px var(--orange);
}

h3 {
    font-size: 24px;
    font-family: "Playfair Display", serif;
    font-weight: 800;
    font-variant: small-caps;
    text-shadow: 1px 1px 1px var(--dark-orange);
    margin-bottom: 4px;
}

header {
    width: 100%;
    height: 120px;
    background-color: var(--orange);
    color: var(--blue);
    position: sticky;
    z-index: 3;
    top: 0;
    left: 0;
    padding: 0 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;  
    box-shadow: 0 4px 4px var(--blue);  
}

.logo {
    align-self: start;
    height: 135%;
}

.logo-img {
    height: 100%;
}

.hamburger {
    background-color: var(--blue);
    padding: 4px 8px;
    border-radius: 12px;
    cursor: pointer;
    display: none;
    transition: 1s;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: var(--dark-orange);
}

nav ul {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 32px;
}


button {
    padding: 8px;
    font-size: 18px;
    border-radius: 20px;
    font-weight: 800;
    text-transform: uppercase;
    background-color: var(--blue);
    color: var(--dark-orange);
    border: 6px double var(--orange);
    cursor: pointer;
    width: fit-content;
    text-shadow: 1px -1px 1px var(--white);
    transition: 500ms;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 800;
}

button:hover {
    background-color: var(--light-blue);
    color: var(--dark-orange);
}

.orange-button {
    background-color: var(--dark-orange);
    color: var(--blue);
    border: 6px double white;
}

.orange-button:hover {
    background-color: var(--orange);
    color: var(--light-blue);
}

nav button {
    width: 160px;
}

main {
    width: 100%;
}

#index-main {
    background: linear-gradient(45deg, var(--blue), var(--dark-orange), var(--orange));
}

.main-container {
    background-color: white;
    opacity: 0.5;
    transition: 1s ease-in;
}

.main-container:hover {
    opacity: 1;
}

.hero {
    height: 640px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    overflow: hidden;
}

#hero-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

#hero-text button {
    font-size: 24px;
    padding: 6px 24px;
}


#hero-image {
    height: 80%;
    animation: blobify 10s linear infinite;
    transition: all 1s ease-in;
}

@keyframes blobify {
    from {
        border-radius: 60% 75% 50% 55% / 60% 75% 70% 65%; 
    }
    33% {
        border-radius: 15% 85% 30% 60% / 60% 30% 85% 15%;
    }
    66% {
        border-radius: 60% 30% 85% 15% / 15% 85% 30% 60%; 
    }
    to {
        border-radius: 60% 75% 50% 55% / 60% 75% 70% 65%;
    }
}

#section-one {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.golden-container {
    background: radial-gradient(var(--orange), var(--dark-orange));
    width: fit-content;
    animation: honeycomb-blobify 20s linear infinite;
    overflow: hidden;
    position: relative;
}

#honeycomb-img {
    height: 500px;
    opacity: 0.5;
    transition: 500ms ease-in;
    cursor: pointer;
}

#honeycomb-img:hover {
    opacity: 1;
}

@keyframes honeycomb-blobify {
    from {
        border-radius: 40% 50% 70% 80% / 80% 70% 50% 40%;
    }
    40% {
        border-radius: 60% 48% 36% 24% / 24% 36% 48% 60%;
    }
    80% {
        border-radius: 24% 36% 48% 60% / 60% 48% 36% 24%;
    }
    to {
        border-radius: 40% 50% 70% 80% / 80% 70% 50% 40%;
    }
}

#sone-text {
    height: fit-content;
    width: 40%;
    padding: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color: var(--orange);
    color: var(--blue);
    border-radius: 12%;
    border: 16px double white;
    box-shadow: inset 0 0 16px 0 white;
}

main p {
    font-size: 24px;
    font-family: 'Cormorant Garamond', serif;
    color: var(--blue);
    text-align: center;
}

.break {
    width: 100%;
    height: 6px;
    background-color: var(--blue);
    left: 0;
}

#whitebr {
    background-color: white;
}

footer {
    width: 100%;
    height: 33vh;
    padding: 16px 32px;
    background-color: var(--blue);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 48px;
}

#footer-logo {
    height: 70%;
    display: flex;
    align-items: center;
}

.footer-container {
    height: 100%;
    color: var(--orange);
    display: flex;
    flex-direction: column;
    gap: 16px;
}

footer a {
    margin-bottom: 8px;
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 16px;
}

footer p {
    font-family: 'Cormorant Garamond', serif;
    font-size: 24px;
}

footer strong {
    font-weight: 600;
}

/*despre.html*/

#despre-noi {
    width: 100%;
}

#despre-noi-banner {
    width: 100%;
    aspect-ratio: 10/4;
    background: url(../Resources/camp-floarea-soarelui.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#dn-banner-cover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--orange);
    opacity: 0.4;
}

#dn-banner-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 50%;
    background-color: hsla(0, 0%, 100%, 0.7);
    transition: 2s;
    z-index: 2;
}

#dn-banner-title:hover {
    background-color: hsla(0, 0%, 100%, 0.9);
    box-shadow: 0 0 16px 8px white;
}

#dn-banner-title h2 {
    font-size: 60px;
}

.blob-text {
    height: 500px;
    width: 70%;
    margin: 32px 0 32px 10%;
    background-color: var(--orange);
    box-shadow: inset 0 0 36px 36px var(--dark-orange);
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    align-items: center;
    padding: 32px;
    animation: honeycomb-blobify 15s linear infinite;
    transition: all 1s ease-in;
    overflow: hidden;
}

/*produse.html*/

.main-title {
    text-align: center;
    margin-top: 32px;
}

#product-grid {
    width: 100%;
    display: grid;
    grid-template: 500px / repeat(3, 400px);
    grid-auto-rows: 500px;
    grid-auto-columns: repeat(3, 400px);
    justify-items: center;
    justify-content: center;
    margin: 16px 0;
}


.product-container {
    height: 100%;
    width: 100%;
/*    background-color: var(--orange);
    padding: 0 12px 0 12px;*/
    border-radius: 32px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 16px double white;
    box-shadow: inset 0 0 16px 0 white;
    position: relative;
}

.product-img-container {
    height: 70%;
    aspect-ratio: 1/1;
    border-radius: 0 0 8px 8px;
    overflow: hidden;
    box-shadow: inset 0 0 32px 0 var(--blue);
}

.product-img-container img {
    height: 100%;
    width: 100%;
}

/*.product-img-container:after {
    box-shadow: inset 0 0 8px 4px var(--dark-orange);
    content: "";
    display: block;
    height: 70%;
    aspect-ratio: 1/1;
    position: absolute;
    top: 0;
    border-radius: 0 0 8px 8px;
}*/

.button-container {
    position: absolute;
    top: 0;
    height: 70%;
    aspect-ratio: 1/1;
    background-color: var(--orange);
    z-index: 2;
    opacity: 0;
    transition: 700ms;
}

.button-container:hover {
    opacity: 0.8;
}

.button-container button {
    position: absolute;
    bottom: 5%;
    right: 5%;
    opacity: 1;
}

.product-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    text-align: center;
}

.product-content a {
    text-decoration: none;
}

.product-content h2 {
    font-size: 32px;
}

.product-content h3 {
    font-size: 20px;
    color: var(--blue);
}

.product-content button {
    margin-top: 18px;
    font-size: 16px;
}

/*Contact Page*/
#contact-hero {
    height: 80vh;
    background: linear-gradient(90deg, white, 33%, var(--orange));
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 120px;
    padding: 48px 48px 48px 0;
}

#contact-hero-text {
    width: 45%;
}

#contact-hero-text > * {
    margin-bottom: 8px;
}

#contact-hero-text h2 {
    font-size: 48px;
}

#contact-hero-text p {
    text-align: justify;
}

#contact-hero-text ul {
    font-size: 24px;
    color: var(--blue);
    font-weight: 600;
}

#imagine-magazin {
    height: 80vh;
    opacity: 0.6;
}

#contact-container {
    height: 80vh;
    padding: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

#contact-map {
    height: 100%;
    aspect-ratio: 1/1;
    box-shadow: -2px -2px 6px 0 var(--orange);
}

#contact-info {
    height: 100%;
    aspect-ratio: 6/5;
    background-color: var(--blue);
    animation: blobify 15s linear infinite;
    box-shadow: 0 0 12px 0 var(--blueish-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-100px);
}

#contact-info h1 {
    color: var(--dark-orange);
    margin-bottom: 32px;
    text-shadow: 1px 1px 1px var(--light-blue);
}

#contact-info h2, #contact-info p {
    color: var(--dark-orange);
}

.contact-link {
    display: grid;
    gap: 16px;
    text-decoration: none;
    grid-template-columns: 1fr 280px;
    margin-bottom: 16px;
    align-items: center;
}

.contact-link p {
    justify-self: left;
    text-align: left;
}

#social-media-container {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

/*Individual product pages*/

.honey-page-container {
    height: 70vh;
    padding: 50px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.honey-image {
    height: 65vh;
    aspect-ratio: 1/1;
    background-position: center center;
    background-size: cover;
    animation: honeycomb-blobify 10s ease-in-out 0s infinite alternate;
}

.honey-details-container {
    height: 65vh;
    width: 60%;
    padding: 48px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: start;
    gap: 4px;
    color: var(--blue);
}

.honey-details-container h1 {
    margin-bottom: 16px;
}

.honey-details-container p {
    text-align: justify;
}

.honey-buttons-container button {
    padding: 2px 8px;
}

#honey-blob {
    align-self: center;
}

@media (max-width: 1024px){
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 24px;
    }
    button {
        font-size: 16px;
    }
    nav button {
        width: 140px;
    }
    .main-container {
        padding: 32px;
    }
    .hero-container {
        gap: 24px;
    }
    #section-one {
        margin: 32px 0 32px 0;
    }
    #sone-text {
        padding: 16px;
    }
    #dn-banner-title h2 {
        font-size: 40px;
    }
    footer p {
        font-size: 18px;
    }
    #product-grid {
        grid-template: 400px / repeat(3, 320px);
        grid-auto-rows: 400px;
        grid-auto-columns: repeat(3, 320px);
    }
    #contact-hero {
        height: 70vh;
        background: linear-gradient(90deg, white, 33%, var(--orange));
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        padding: 48px 24px 48px 0;
    }
    #imagine-magazin {
        height: 70vh;
        opacity: 0.6;
    }
    .honey-page-container {
        margin-bottom: 100px;
    }
    .honey-details-container{
        padding: 15px;
    }
    #honey-blob {
        margin-top: 50px;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 32px;
    }
    h2 {
        font-size: 28px;
    }
    h3 {
        font-size: 20px;
        margin-bottom: none;
    }
    header {
        padding: 0 30px;
    }
    nav ul {
        gap: 12px;
    }
    .hero {
        height: 400px;
    }    
    #hero-text button {
        font-size: 16px;
        padding: 6px 12px;
    }
    #honeycomb-img {
        height: 240px;
    }
    #section-one {
        height: 30vh;
    }
    #sone-text {
        width: 70%;
        font-size: 16px;
        margin-left: 16px;
    }
    #sone-text p {
        font-size: 20px;
    }
    #product-grid {
        grid-template: 320px / repeat(3, 256px);
        grid-auto-rows: 320px;
        grid-auto-columns: repeat(3, 256px);
    }
    .product-content h2 {
        font-size: 24px;
    }
    .product-content h3 {
        font-size: 18px;
    }
    #contact-hero {
        height: 70vh;
        background: linear-gradient(90deg, white, 33%, var(--orange));
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        padding: 24px 12px 24px 0;
    }
    #imagine-magazin {
        height: 50vh;
        opacity: 0.6;
    }
    #contact-hero-text {
        width: 50%;
    }
    
    #contact-hero-text > * {
        margin-bottom: 8px;
    }
    
    #contact-hero-text h2 {
        font-size: 40px;
    }
    
    #contact-hero-text p {
        text-align: justify;
        font-size: 20px;
    }
    
    #contact-hero-text ul {
        font-size: 20px;
        color: var(--blue);
        font-weight: 600;
    }
    #contact-container {
        height: 150vh;
        padding: 24px;
        gap: 10px;
        flex-direction: column-reverse;
    }
    #contact-map {
        height: 50%;
        aspect-ratio: 1/1;
        box-shadow: -2px -2px 6px 0 var(--orange);
    }
    #contact-info {
        height: 400px;
        aspect-ratio: 6/5;
        transform: translateY(-80px) translateX(100px);
    }
    #contact-info h1 {
        font-size: 28px;
    }
    #contact-info p {
        font-size: 20px;
    }    
    .contact-link {
        justify-self: left;
        width: 60%;
        transform: translateX(20px);
    }
    .honey-page-container {
        height: 90vh;
        padding: 0;
        margin-bottom: 75px;
        justify-content: left;
    }
    .honey-image {
        height: 50vh;
    }
    #honey-blob {
        width: 90%;
        text-align: center;
        padding: 15px;
    }
}

@media (max-width: 426px){
    h1 {
        font-size: 32px;
    }
    h2 {
        font-size: 28px;
    }
    h3 {
        font-size: 16px;
        margin-bottom: none;
    }
    header {
        height: fit-content;
        padding-top: 20px;
        flex-direction: column;
        gap: 16px;
    }
    .logo {
        margin: 16px 0 4px 0;
        height: 200px;
    }
    .hamburger {
        display: block;
        margin: 24px 0 12px 0;
        position: absolute;
        right: 20px;
    }
    .hamburger.active{
        background-color: var(--light-blue);
    }    
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    nav {
        height: 0px;
        overflow: hidden;
        transition: 1s ease-in;
    }
    nav.active {
        height: 100vh;
    }
    nav ul {
        flex-direction: column-reverse;
        justify-content: start;
        align-items: start;
    }
    nav ul li {
        margin: 24px 0 12px 0;
    }
    .hero {
        height: 68vh;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 16px;
    }
    #hero-text {
        height: 33vh;
        text-align: center;
    }
    #hero-image {
        height: 33vh;
    }
    #section-one {
        height: 50vh;
        flex-direction: column-reverse;
        justify-content: center;
        gap: 32px;
        margin: 0;
    }
    #sone-text {
        width: 100%;
        border-radius: 30%;
    }
    #sone-text p {
        font-size: 18px;
    }
    #despre-noi-banner {
        padding: 0;
        width: calc(100% + 64px);
        transform: translateX(-32px);
        aspect-ratio: 10/7;
    }
    #dn-banner-title {
        height: 40%;
        width: 100%;
    }
    .blob-text {
    height: 400px;
    width: 95%;
    margin-left: 16px;
    font-size: 16px;
    padding: 32px;
    }
    .blob-text h2 {
        font-size: 24px;
        margin-bottom: 12px;
    }
    .blob-text p {
        font-size: 18px;
    }
    footer {
        flex-direction: column;
        height: auto;
        gap: 30px;
    }
    #footer-logo {
        height: 80px;
    }
    .footer-container {
        height: auto;
        align-items: center;
        width: 80%;
        gap: 30px;
    }
    #contact-ferma-bratia {
        align-items: center;
    }
    footer h3 {
        font-size: 24px;
        text-align: center;
    }
    footer p {
        font-size: 20px;
    }
    #product-grid {
        grid-template: 300px / 240px;
        grid-auto-rows: 300px;
        grid-auto-columns: 240px;
    }
    .product-content h2 {
        font-size: 20px;
    }
    .product-content h3 {
        font-size: 18px;
    }
    #contact-hero {
        height: 100vh;
        display: flex;
        background: linear-gradient(var(--orange), 50%, white);
        flex-direction: column-reverse;
        justify-content: start;
        align-items: end;
        gap: 12px;
        padding: 12px 0 0 0;
    }
    #contact-hero-text {
        width: 90%;
        text-align: right;
        margin-right: 12px;
    }
    #contact-hero-text h2 {
        font-size: 32px;
    }
    #imagine-magazin {
        flex: auto;
        opacity: 0.6;
    }
    #contact-container {
        padding: 12px;
    }
    #contact-map {
        width: 100%;
        aspect-ratio: 1/1;
        box-shadow: -2px -2px 6px 0 var(--orange);
    }
    #contact-info {
        width: 90%;
        aspect-ratio: 6/5;
        transform: translateY(-80px) translateX(20px);
    }
    .contact-link {
        justify-self: left;
        width: 60%;
        transform: translateX(-20px);
    }
    .honey-page-container {
        height: 110vh;
        flex-direction: column;
        padding-top: 16px;
        margin-bottom: 50px;
        gap: 8px;
    }
    .honey-details-container {
        height: 50vh;
        width: 90%;
    }
    .honey-details-container h1 {
        font-size: 24px;
    }
    .honey-details-container p {
        font-size: 16px;
    }
    #honey-blob p {
        font-size: 16px;
    }
}

@media (max-width: 320px) {
    #section-one {
        height: 60vh;
    }
    .golden-container {
        width: 100%;
        height: 300px;
    }
    #program-ferma-bratia > * {
        text-align: center;
        margin-bottom: 12px;
    }
    .blob-text {
        height: 400px;
        width: 100%;
        margin-left: 0;
    }
    .contact-link {
        justify-content: left;
        width: 90%;
    }
    #honey-blob {
        width: 95%;
    }
    .blob-text {
        height: 500px;
        width: 100%;
        padding: 32px;
    }
}

#mana {
    background-image: url("../Resources/miere-mana.jpeg");
}

#salcam {
    background-image: url("../Resources/miere-salcam.jpeg");
}

#floarea-soarelui {
    background-image: url("../Resources/miere-floarea-soarelui.jpeg");
}

#poliflora {
    background-image: url("../Resources/miere-poliflora.jpeg");
}

#rapita {
    background-image: url("../Resources/miere-de-rapita.jpeg");
}

#tei {
    background-image: url("../Resources/miere-de-tei.jpeg");
}

#duo {
    background-image: url("../Resources/miere-duo.jpeg");
}

#propolis {
    background-image: url("../Resources/tinctura-de-propolis.jpeg");
}

#fagure {
    background-image: url("../Resources/fagure-miere.jpeg");
}

#polen {
    background-image: url("../Resources/polen.jpeg");
}